.vscode/

cluster_jobs/
aux_info/
libParams/
cmd_info.json
lib_format_counts.json

.RData
.Rhistory
__pycache__
cache/

*.gz
*.log
logs/
log/
tempCodeRunnerFile.py

# large files
lizard-genes2.csv
lizard-gainloss-*.csv
*.mtx
