.vscode/

cluster_jobs/
aux_info/
libParams/
cmd_info.json
lib_format_counts.json
data/viral_condensates/hsv1/

.RData
.Rhistory
__pycache__
cache/

*.log
logs/
log/
tempCodeRunnerFile.py

# large files
lizard-genes2.csv
lizard-gainloss-*.csv
*.mtx
*.gz
*.h5ad
*.rds
*.avi
*.mp4
*.lif
*.lifext
*.tif
*.tiff
data/single_cell/animals/chicken/ca1/new_genome/matrix_new.csv
